<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="/style.css" rel="stylesheet"/>
    <title>The Message Board</title>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="margin-right-nav navbar-brand mr-auto mr-lg-0" href="/">The Message Board</a>
</nav>
<!-------------------------------------------------------CREATE A POST-->
    <div>
        <h3>Post a message</h3>
        <form action="/createPost" method="post">
            <div class="mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Name</span>
                    </div>
                    <input type="text" name="name">
                </div>
            </div>
            <textarea name="mainContent" id="input-message-box" placeholder="Enter your message" ></textarea>
            <button class="display-block btn btn-warning mt-3">Post a message</button>
        </form>
    </div>
<!-------------------------------------------------------CREATE A COMMENT-->
    <div class="margin-top">
        <% if(post.length > 0) { %>
            <% for(let i= post.length-1; i >= 0; i--) { %>
                <div class="col mt-4 ml-5">
                    <h4 id="output-message-title">Name: <%= post[i].name %></h4>
                    <h4>Message: <%= post[i].mainContent %></h4>
                    <% if(post[i].subContent.length > 0) { %>
                        <% for(let j= post[i].subContent.length-1; j >= 0; j--) { %>
                            <p class="font-weight-bold text-size-small" id="output-comment-title"><%= post[i].subContent[j].name %></p>
                            <p class="text-size-small"><%= post[i].subContent[j].content %></p>
                        <% } %>
                    <% } %>
                    <h5>Post a Comment</h5>
                    <form action="/createComment/<%= post[i].id %>" method="post" class="margin-bottom">
                        <div class="mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Name</span>
                                </div>
                                <input type="text" name="name" class="">
                            </div>
                        </div>
                        <textarea name="content" type="text" id="input-comment-box" placeholder="Enter your comment"></textarea>
                        <input type="submit" class="btn btn-warning btn-sm display-block mt-3" value="Post a Comment">
                    </form>
                </div>
            <% } %>
        <% } %>
    </div>
    <div style="color: red">
        <% if(messages.registration) { %>
            <% for (var x of messages.registration) { %>
                <p class="lead"><%= x %></p>
            <% } %>
        <% } %>
    </div>
<div class="col ml-5" style="color: red">
    <% if(messages.createComment) { %>
        <% for (var x of messages.createComment) { %>
            <p class="lead"><%= x %></p>
        <% } %>
    <% } %>
</div>
</body>
</html>